.toast{
    animation: slide-in 0.4s ease-in-out forwards;
}
@keyframes slide-in{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}


.toast-dismissed{
    animation: slide-out 0.4s ease-in-out forwards;
}



@keyframes slide-out{
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
    }
}